@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fbf7ed;
}

.clear {
  clear: both;
}

.header-img-holder {
  width: 45%;
  margin: auto;
  padding-top: 10px;
}

.header-img-holder img {
  width: 100%;
  height: auto;
  text-align: center;
}

#above-menu {
  height: 20px;
}

#menu-top {
  height: 1px;
  background-color: #d5a43b;
}

#menu-one {
  height: 20px;
}

.menu-items-holder {
  margin: auto;
}

.menu-item {
  float: left;
  text-align: center;
  padding: 0px 5px;
}

.menu-item a {
  text-decoration: none;
  color: black;
  margin: 10px 20px;
}

.menu-divider {
  float: left;
  width: 1px;
  background-color: black;
  height: 100%;
}

#active {
  border-bottom: 1px solid #d5a43b;
}

#menu-two {
  height: 15px;
}

#menu-bottom {
  height: 1px;
  background-color: #d5a43b;
}
